<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497486937927-80niucdhlshtgeragten316bdnpqgo8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497486937927-80niucdhlshtgeragten316bdnpqgo8u</string>
	<key>API_KEY</key>
	<string>AIzaSyA6mRZkuPnAFsvfYeClMRpeuB174x5-Aqk</string>
	<key>GCM_SENDER_ID</key>
	<string>497486937927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dash</string>
	<key>PROJECT_ID</key>
	<string>dash-6e8c2</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-6e8c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497486937927:ios:0c6b9a9a0c06b4484d5662</string>
</dict>
</plist>